<h3>Fale Conosco</h3>
<form>
    nome: <input type="text" id="nome" required placeholder="Informe seu nome completo!"><br>
    email: <input type="email" id="email" required placeholder="Informe seu email!"><br>
    idade: <input type="number" id="idade" min="16" max="100" required placeholder="Informe sua idade!"><br>
    assunto: <select id="assunto">
        <option>Sobre um pedido</option>
        <option>Sobre um produto</option>
        <option>Sobre seu cadastro</option>
        <option>Reclamações e dúvidas</option>
    </select><br>
    telefone: <input type="tel" id="telefone" required placeholder="Informe seu telefone!"><br>
    mensagem: <textarea id="mensagem" rows="5" cols="50"></textarea><br>
    deseja receber uma cópia desse email:
        <input type="radio" id="RecebeSim" name="copia">Sim
        <input type="radio" id="RecebeNao" name="copia">Não<br>
    <button>Enviar</button>
</form>