<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Nome</label>
  </div>
<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email</label>
</div>
<div class="form-floating mb-3">
    <input type="int" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Idade</label>
  </div>
<div class="form-floating mb-3">
    <select class="form-select" id="floatingSelect" aria-label="Floating label disabled select example">
      <option selected>Open this select menu</option>
      <option value="1">Sobre um pedido</option>
      <option value="2">Sobre um produto</option>
      <option value="3">Sobre seu cadastro</option>
      <option value="4">Reclamações e dúvidas</option>
    </select>
    <label for="floatingSelect">Selecione o assunto</label>
</div>
<div class="form-floating mb-3">
    <input type="int" class="form-control" id="floatingInput" placeholder="name@example.com" pattern="[o-9]{4,5}-[0-9]{4}">
    <label for="floatingInput">Telefone</label>
  </div>
<div class="form-floating mb-3">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"
  ></textarea>
  <label for="floatingTextarea">Mensagem</label>
</div>
<h6>Deseja receber uma cópia desse email:</h6>
<div class="form-check-inline">
    <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1" checked>
    <label class="form-check-label" for="radioDefault1">
      Sim
    </label>
  </div>
  <div class="form-check-inline mb-3">
    <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2">
    <label class="form-check-label" for="radioDefault2">
      Não
    </label>
  </div>
<h6>Quais formas de contato você autoriza:</h6>
<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault" checked>
    <label class="form-check-label" for="switchCheckDefault">Email</label>
</div>
<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked">
    <label class="form-check-label" for="switchCheckChecked">Telefone</label>
</div>
<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDisabled">
    <label class="form-check-label" for="switchCheckDisabled">WhatsApp</label>
</div>
<div class="form-check form-switch mb-3">
    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckCheckedDisabled">
    <label class="form-check-label" for="switchCheckCheckedDisabled">Carta</label>
</div>
<h6>Qual a nota que você dá para a nossa loja:</h6>
<div class="mb-3">
    <label for="customRange" class="form-label">Nota: <span id="rangeValue">10</span></label>
    <input type="range" class="form-range" min="0" max="10" step="1" value="50" id="customRange" oninput="document.getElementById('rangeValue').textContent = this.value">
  </div>
<button class="btn btn-primary mb-3">Enviar</button>