<h3>Cadastro de cliente</h3>
<form>
    Codigo: <input type="text" required><br>
    Nome: <input type="text" required><br>
    Email: <input type="email" required><br>
    Telefone: <input type="tel" required><br>
    Documento: <input type="text" required><br>
    Endereço: <textarea rows="5" cols="50" required></textarea><br>
    Senha: <input type="password" required><br>
    Confirmação de senha: <input type="password" required><br>
    <input type="checkbox"> Autorizo o envio de mensagem e ofertas<br>
    <button>Gravar</button>
</form>
